body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
}

#game {
  background: white;
  padding: 20px;
  width: 400px;
  margin: 50px auto;
  border-radius: 10px;
}

button {
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}


